:root{
  --bg: #070707;
  --bg-2: #0c0c0c;
  --text: #eaeaea;
  --muted: rgba(255,255,255,.68);
  --accent: #b8ff48;

  --container: 1200px;
  --radius: 999px;

  --shadow-soft: 0 30px 80px rgba(0,0,0,.55);
  --shadow-glow: 0 0 80px rgba(184,255,72,.12);
  --border: rgba(255,255,255,.12);
}